## gradle
/.gradle
/build
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

*.class

README.txt
forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt